bin/
build/
develop-eggs/
dist/
eggs/
etc/zope.conf
parts/
src/bbru.egg-info/
var/blob
var/filestorage/Data.fs
var/filestorage/Data.fs.index
var/filestorage/Data.fs.lock
var/filestorage/Data.fs.tmp
var/log/access.log
var/log/z3.log
.installed.cfg
*.pyc
*.pyo
